include ../lib/main

-
  var tests = [
    {
      text: 'Level 1: ',
      href: 'level-1.html',
      desc: "Against browsers' default styles"
    },{
      text: 'Level 2: ',
      href: 'level-2.html',
      desc: "Against authors' reset styles"
    },{
      text: 'Level 3: ',
      href: 'level-3.html',
      desc: "Against authors' scoped styles",
      memo: ' (Advanced)'
    }
  ]

+html
  +head
    title morph.css Test
    link(rel="stylesheet" href="../morph.css")
  body
    h1
      a(href="https://github.com/internets-inc/morph.css") morph.css
      |  Test
    hr
    ul
      each test in tests
        li
          dl.span
            dt.span=test.text
            dd.span
              a(href=test.href)=test.desc
              if test.memo
                | #{test.memo}
    hr
