include ../lib/main

-
  var site = 'morph.css, Test'
  var title = " Level 3: Against authors' scoped stylesheets"

+html
  +head
    title #{site}#{title} (Advanced)
    style
      :stylus
        .foo
          @import "../src/morph"

          h2
            margin 1em 20px 0.5em 0
            padding 15px 15px 15px 15%
            border-radius 0 10px 0 10px
            color #355681
            font-family sans-serif
            font-weight bold
            font-size 36px
            line-height 40px
            background-color whitesmoke

          h3
            margin 1em 20px 0.5em 0
            padding 5px 15px
            border 1px solid #fff
            border-radius 0 10px 0 10px
            color white
            font-family sans-serif
            font-size 28px
            font-weight normal
            text-shadow 0 -1px rgba(0,0,0,0.6)
            line-height 40px
            background #355681

          h4
            margin 1em 20px 0.5em 0
            border-bottom 1px solid rgba(53,86,129, 0.3)
            color #355681
            font-family sans-serif
            font-size 22px
            font-weight bold
            text-shadow 0 -1px 1px rgba(0,0,0,0.4)
            text-transform uppercase
            line-height 40px

          h5
            margin 1em 20px 0.5em 0
            color #788699
            font-family sans-serif
            font-size 18px
            font-weight bold
            line-height 20px

          p
            margin 1.5em 0
            padding 0 1em
            font-size 1.75em
            line-height 2

          figure
            border 1px solid silver
            padding 0.5em

          a
            color blue
            text-decoration none

            &:hover
              text-decoration underline

            &:active
              color red

          em
            font-weight bold
          
          cite
            color gray

          ol li
            margin-top 1em
            
            &:first-child
              margin-top 2em

          ul li
            position relative
            list-style none
            
            &:before
              position absolute
              top 0.5em
              left -1.25em
              content ""
              display block
              border-radius 3px
              width 5px
              height 5px
              overflow hidden
              background-color silver

          dt
            margin-left 1em
            font-size 1.5em
            font-weight bold

          dd
            display list-item
            list-style circle
            font-size 1.25em

          blockquote
            margin-left 1em
            padding 1em
            border-left 4px solid silver
            color gray
            font-size 2em
            font-style italic

          button
            border 1px solid blue
            border-radius 4px
            padding 0.25em 0.75em
            font-size 1.25em
            color white
            background-color blue

            &:hover
              border 1px solid blue
              color blue
              background-color white

            &:active
              position relative
              top 1px

          label
            font-weight bold

          address
            color gray

  body

    h1
      a(href="./")=site
      | #{title} (
      a(href="https://github.com/internets-inc/morph.css/#tests")
        | Advanced
      | )

    hr

    +div(class="test foo")
      +div(class="__before")
        h1 .foo h1
        h2 .foo h2
        h3 .foo h3
        h4 .foo h4
        h5 .foo h5
        h6 .foo h6
      +div(class="__after")
        h1.div h1.div
        h2.div h2.div
        h3.div h3.div
        h4.div h4.div
        h5.div h5.div
        h6.div h6.div

    hr

    +div(class="test foo")
      +div(class="__before")
        p .foo p
      +div(class="__after")
        p.div p.div

    hr

    +div(class="test foo")
      +div(class="__before")
        figure .foo figure
      +div(class="__after")
        figure.div figure.div

    hr

    +div(class="test foo")
      +div(class="__before")
        a(href="#") .foo a
      +div(class="__after")
        a(href="#").span a.span

    hr

    +div(class="test foo")
      +div(class="__before")
        em .foo em
      +div(class="__after")
        em.span em.span

    hr

    +div(class="test foo")
      +div(class="__before")
        i .foo i
      +div(class="__after")
        i.span i.span

    hr

    +div(class="test foo")
      +div(class="__before")
        cite .foo cite
      +div(class="__after")
        cite.span cite.span

    hr

    +div(class="test foo")
      +div(class="__before")
        ol
          li .foo ol
          li .foo li
      +div(class="__after")
        ol.div
          li.div ol.div
          li.div li.div

    hr

    +div(class="test foo")
      +div(class="__before")
        ul
          li .foo ul
          li .foo li
      +div(class="__after")
        ul.div
          li.div ul.div
          li.div li.div

    hr

    +div(class="test foo")
      +div(class="__before")
        dl
          dt .foo dt
          dd .foo dd
      +div(class="__after")
        dl.div
          dt.div dt.div
          dd.div dd.div

    hr

    +div(class="test foo")
      +div(class="__before")
        blockquote .foo blockquote
      +div(class="__after")
        blockquote.div blockquote.div

    hr

    +div(class="test foo")
      +div(class="__before")
        button .foo button
      +div(class="__after")
        button.span button.span

    hr

    +div(class="test foo")
      +div(class="__before")
        label .foo label
      +div(class="__after")
        label.span label.span

    hr

    +div(class="test foo")
      +div(class="__before")
        address .foo address
      +div(class="__after")
        address.div address.div

    hr
