.div {
  display: block;
}

.span {
  display: inline;
}

.label {
  display: inline-block;
  cursor: pointer;
}

.div,
.span,
.label {
  clear: none;
  position: static;
  float: none;
  display: block;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  width: auto;
  height: auto;
  min-height: 0;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  line-height: inherit;
  background: none;
}

.div:before,
.div:after,
.span:before,
.span:after,
.label:before,
.label:after {
  content: none;
  position: static;
  top: auto;
  left: auto;
  display: inline;
  border-radius: 0;
  width: auto;
  height: auto;
  overflow: visible;
  background: none;
}
