.span {
  display: inline;
}
.div {
  display: block;
}
.span:before,
.div:before,
.span:after,
.div:after {
  content: none;
  display: inline;
}
.span,
.div,
.span:hover,
.div:hover,
.span:visited,
.div:visited,
.span:active,
.div:active,
.span:before,
.div:before,
.span:after,
.div:after,
.span:nth-child(n),
.div:nth-child(n) {
  clear: none;
  float: none;
  position: static;
  z-index: auto;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
  min-width: 0;
  min-height: 0;
  overflow: visible;
  visibility: visible;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  text-transform: inherit;
  line-height: inherit;
  vertical-align: baseline;
  font-style: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  letter-spacing: normal;
  white-space: normal;
  text-indent: 0;
  text-decoration: none;
  text-shadow: none;
  list-style: none;
  background: none;
  box-shadow: none;
  transition: none;
}
