.span
  display inline

.div
  display block

.span
.div

  &:before
  &:after
    content none
    display inline

  &
  &:hover
  &:visited
  &:active
  &:before
  &:after
  &:nth-child(n)
    clear none
    float none

    position static
    z-index auto
    top auto
    right auto
    bottom auto
    left auto

    box-sizing content-box
    margin 0
    padding 0
    border-radius 0

    border none
    outline none

    width auto
    height auto
    max-width none
    max-height none
    min-width 0
    min-height 0

    overflow visible
    visibility visible

    color inherit
    font-family inherit
    font-size inherit
    font-weight inherit
    font-style inherit
    text-align inherit
    text-decoration inherit
    text-indent inherit
    text-transform inherit
    text-shadow inherit
    word-spacing inherit
    letter-spacing inherit
    word-wrap inherit
    word-break inherit
    white-space inherit
    line-height inherit
    vertical-align inherit

    list-style none
    background none
    box-shadow none
    transition none
